.TotalPrice{
    width: 200px;
    display: flex;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}
.DeleteItems{
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-bottom: 25px;

    
}